$blacker: #0F1419;
$black: #131721;
$darker: #272D38;
$dark: #3E4B59;
$white: #BFBDB6;
$whiter: #E6E1CF;
$light: #E6E1CF;
$lighter: #F3F4F5;
$red: #AC4142;
$yellow: #F4BF75;
$orange: #D28445;
$green: #90A959;
$cyan: #75B5AA;
$blue: #6A9FB5;
$magenta: #9080b7;

@mixin btn($clr) {
  padding: 2px 6px;
  margin: 2px;
  border-radius: 3px;
  color: $clr;
  background: rgba($clr, 0.1);
  border-right: 1px solid $clr;

  &:hover {
    background: rgba($clr, 0.2);
    color: $clr;
  }

  &:active {
    border-radius: 6px;
    background: rgba($dark, 0.1);
    color: $dark;
    border-right: 1px solid $dark;
  }
}

* {
  font-size: 98%;
}

window.Bar {
  color: $white;
  background: transparent;
}

window.Bar>centerbox {
  background: rgba($black, 0.97);
}

window.Bar>centerbox>button {
  @include btn($red);
  padding: 6px 6px;
  margin: 4px;
  border-radius: 3px;
}

.workspaces-box>button {
  padding: 2px 6px;
  margin: 2px;
  border-radius: 3px;
}

.workspace {
  @include btn($dark);
}

.focused {
  @include btn($green);
}
