$blacker: #0F1419;
$black: #131721;
$darker: #272D38;
$dark: #3E4B59;
$white: #BFBDB6;
$whiter: #E6E1CF;
$light: #E6E1CF;
$lighter: #F3F4F5;
$red: #AC4142;
$yellow: #F4BF75;
$orange: #D28445;
$green: #90A959;
$cyan: #75B5AA;
$blue: #6A9FB5;
$magenta: #9080b7;

@mixin btn($clr) {
  transition: 150ms;
  padding: 2px 6px;
  margin: 2px;
  color: $clr;
  background: rgba($clr, 0.1);

  &:hover {
    background: rgba($clr, 0.4);
    color: $clr;
  }

  &:active {
    background: rgba($dark, 0.3);
    color: $dark;
    border-left: 2px solid $dark;
  }
}

* {
  border-radius: 0px;
}

window.Bar {
  color: $white;
  background: transparent;
  padding: 2px 6px;
  margin: 2px;

  >centerbox {
    background: rgba($black, 0.97);
  }

  .start {
    .panel {
      @include btn($green);
    }
  }

  .middle {
    .focused {
      @include btn($blue);
      border-left: 2px solid $blue;
    }

    .occupied {
      @include btn($blue);
      border-left: 2px dotted rgba($blue, 0.5);
    }

    .empty {
      @include btn($darker);
    }
  }

  .end {
    .time {
      @include btn($yellow);
      padding: 6px 6px;
    }
  }
}


window.Panel {
  color: $white;
  background: transparent;
  padding: 2px 6px;
  margin: 2px;

  >box {
    min-width: 350px;
    background: rgba($black, 0.7);
  }

  .start {}

  .middle {}

  .end {
    min-width: 200px;
    min-height: 200px;

    >drawingarea {

      min-width: 200px;
      min-height: 200px;
    }
  }
}
