@use '/home/shakoh/.config/stylix/palette.scss' as *;
@use "sass:string";

@mixin ws-btn($clr) {
  transition: 100ms;
  min-width: 12px;
  color: $clr;
  background: rgba($clr, 0.01);
  border-radius: 2px;

  &:hover {
    background: rgba($clr, 0.1);
    color: $clr;
  }

  &:active {
    background: rgba($clr, 0.2);
    color: $clr;
  }
}

@mixin menu-btn($clr) {
  padding: 0px;
  transition: 100ms;
  color: $clr;
  background: rgba($clr, 0.01);

  .logo {
    min-width: 10px;
  }

  .text {
    min-width: 10px;
    font-size: 80%;
    background: transparent;
  }

  &:hover {
    background: rgba($clr, 0.1);
  }

  &:active {
    background: rgba($clr, 0.2);
  }
}

@mixin panel-common {
  color: $base04;
  background: transparent;
  padding: 2px 6px;
  margin: 2px;

  .start {}

  .middle {}

  .end {}
}

* {
  border-radius: 0px;
  font-family: "Lilex Nerd Font";
}

.bar {
  color: $base04;
  background-color: $base00;
  padding: 2px 6px;
  margin: 0px;

  >centerbox {
    background: $base00;
  }

  .start {
    .leftpanel {
      @include menu-btn($base0C);
    }

    .music {}

    .audio-speaker {
      @include menu-btn($base0B);
    }

    .audio-microphone {
      @include menu-btn($base08);
    }
  }

  .middle {
    .focused {
      @include ws-btn($base0D);
      border-bottom: 2px solid rgba($base0D, 0.6);
    }

    .occupied {
      @include ws-btn($base0D);
      border-bottom: 2px dotted rgba($base0D, 0.4);
    }

    .empty {
      @include ws-btn($base03);
    }
  }

  .end {
    .tray-icons {
      button {
        @include ws-btn($base04);
      }
    }

    .bluetooth {
      @include menu-btn($base0D);
    }

    .networking {
      @include menu-btn($base0E);
    }

    .battery {
      @include menu-btn($base0C);

      & low {
        @include menu-btn($base08);
      }
    }

    .time {
      @include menu-btn($base0B);
    }

    .rightpanel {
      @include ws-btn($base0A);

      >box {
        min-width: 350px;
        background: rgba($base01, 0.8);

        box.logo {
          min-width: 50px;
        }

        box.text {
          min-width: 550px;
        }
      }

    }
  }
}

window.RightPanel {
  @include panel-common();

  .start {}

  .middle {}

  .end {
    min-width: 200px;
    min-height: 200px;

    >drawingarea {

      min-width: 200px;
      min-height: 200px;
    }
  }
}

window.LeftPanel {
  @include panel-common();

  .start {}

  .middle {}

  .end {}
}

/*
  --------------------------------------
  ---------Notifications: FIXME---------
  --------------------------------------
*/

window.NotificationPopups {
  all: unset;
}

.Notification {
  border-radius: 13px;
  background-color: $base01;
  margin: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 2px 3px 8px 0 rgba(black, 0.4);
  border: 1pt solid rgba($base06, 0.03);

  &.critical {
    border: 1pt solid rgba($base08, 0.4);

    .header {
      .app-name {
        color: rgba($base08, 0.8);
      }

      .app-icon {
        color: rgba($base08, 0.6);
      }
    }
  }

  .header {
    padding: 0.5rem;
    color: rgba($base06, 0.5);

    .app-icon {
      margin: 0 0.4rem;
    }

    .app-name {
      margin-right: 0.3rem;
      font-weight: bold;

      &:first-child {
        margin-left: 0.4rem;
      }
    }

    .time {
      margin: 0 0.4rem;
    }

    button {
      padding: 0.2rem;
      min-width: 0;
      min-height: 0;
    }
  }

  separator {
    margin: 0 0.4rem;
    background-color: rgba($base06, 0.1);
  }

  .content {
    margin: 1rem;
    margin-top: 0.5rem;

    .summary {
      font-size: 1.2em;
      color: $base06;
    }

    .body {
      color: rgba($base06, 0.8);
    }

    .image {
      border: 1px solid rgba($base06, 0.02);
      margin-right: 0.5rem;
      border-radius: 9px;
      min-width: 100px;
      min-height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 1rem;
    margin-top: 0;

    button {
      margin: 0 0.3rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.applauncher {
  background: transparent;
  color: $base06;

  box#applauncher-content {
    background: $base00;
    min-width: 400px;
    border-radius: 2px;
    padding: 6px;

    entry {
      background: $base01;
      border-radius: 2px;
    }

    box#applauncher-applist {
      button {
        border-radius: 2px;
        background: rgba($base01, 0.5);
      }

      image {
        padding-right: 10px;
      }
    }
  }
}
