/*=========================================*/
/*==============- VARIABLES -==============*/
/*=========================================*/
$blacker: #0F1419; 
$black:   #131721; 
$darker:  #272D38; 
$dark:    #3E4B59; 
$white:   #BFBDB6; 
$whiter:  #E6E1CF; 
$light:   #E6E1CF; 
$lighter: #F3F4F5; 
$red:     #AC4142; 
$yellow:  #D28445; 
$green:   #F4BF75; 
$cyan:    #90A959; 
$blue:    #75B5AA; 
$magenta: #6A9FB5; 


/*=========================================*/
/*===============- MIX INS -===============*/
/*=========================================*/

@mixin tag-width {
  min-width: 28px;
}

@mixin animate {
  transition: 125ms
}

@mixin stylish-btn($clr){
  @include animate;
  background-color: rgba($clr, 0.1);
  color: $clr;
  &:hover {
    font-weight: bold;
    border-bottom: solid $clr 1px;
  }
  &:active {
    border-bottom: solid $clr 0px;
  }
}

@mixin workspaces-btn($bg, $fg){
  @include tag-width;
  @include animate;
	background-color: rgba($bg, 0.05);
	color: rgba($fg, 0.5);
	&:hover {
    font-weight: bold;
	  background-color: rgba($bg, 0.1);
    color: $fg;
    border-bottom: solid 1px $fg;
	}
	&:active {
    font-weight: bold;
	  background-color: rgba($bg, 0.15);
    color: $fg;
    border-bottom: solid 0px $fg;
	}
}

/*=========================================*/
/*===========- GLOBAL SETTINGS -===========*/
/*=========================================*/

* {
	all: unset;
	font-family: Lexend;
	font-size: 100%;
	border-radius: 2px;
}

tooltip {
  background-color: $blue;
  color: $darker;
}

menu {
	background-color: $black;
	border-style: solid;
	border-width: 1px;
	border-color: $black;

	separator {
		background-color: $black;
	}

	menuitem {
		background-color: rgba(0, 0, 0, 0);
		padding: 4px;
		margin: 2px;

		&:hover {
			background-color: $dark;
		}
	}
}



/*=========================================*/
/*================- BAR -==================*/
/*=========================================*/

.bar {
	background-color: rgba($black, 0.99);
	border-radius: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: $black;
	>box {
		min-height: 28px;
		padding: 3px;
	}
}

.powermenu {
  @include stylish-btn($blue);
  padding: 0 12px 0 6px;
  font-size: 120%;
}

.notification {
  background-color: $black;
  padding-right: 10px;
  label {
    color: $whiter;
  }
	image {
    background-color: $blue;
		color: $black;
		margin: 0 10px 0 0;
    padding: 0 8px;
  }
}

.workspaces button {
  @include tag-width;
  @include animate;
  @include workspaces-btn($darker,$dark);
}

.workspaces button.occupied {
  @include tag-width;
  @include animate;
  @include workspaces-btn($yellow,$yellow);
}

.workspaces button.focused {
  @include animate;
  @include workspaces-btn($yellow,$yellow);
  font-weight: bold;
  background-color: rgba($yellow, 0.1);
  color: $yellow;
  min-width: 42px;
}

.date {
  @include stylish-btn($blue);
	padding: 0 12px 0 8px;
}

.clock {
  @include stylish-btn($cyan);
	padding: 0 10px 0 8px;
}

.audio- {
  &speaker {
    @include stylish-btn($green);
  	image {
  		color: $green;
  		padding: 0 10px;
  	}
  	scale {
  		min-width: 75px;
      margin-left: 10px;
      highlight {
  		  background-color: $green;
  		  min-height: 10px;
  	  }
      trough {
  		  background-color: rgba($green, 0.3);
  	  }
  	}
  }
  &microphone {
    @include stylish-btn($red);
  	image {
  		color: $red;
  		padding: 0 10px;
  	}
  	scale {
  		min-width: 75px;
      margin-left: 10px;
      highlight {
  		  background-color: $red;
  		  min-height: 10px;
  	  }
      trough {
  		  background-color: rgba($red, 0.3);
  	  }
  	}
  }
}

.battery {
  @include stylish-btn($magenta);
	padding: 0 0 0 10px;
  label {
    color: $magenta;
  }
	image {
		color: $magenta;
		padding: 0 8px 0 2px;
	}
}
