/*=========================================*/
/*==============- VARIABLES -==============*/
/*=========================================*/
/*               - ICEBERG -               */
/*       Github: cocopon/iceberg.vim       */
/*=========================================*/
/*===============- MIX INS -===============*/
/*=========================================*/
/*=========================================*/
/*===========- GLOBAL SETTINGS -===========*/
/*=========================================*/
* {
  all: unset;
  font-family: Lexend;
  font-size: 100%;
  border-radius: 3px;
}

tooltip {
  background-color: #84a0c6;
  color: #161821;
}

menu {
  background-color: #0C0E17;
  border-style: solid;
  border-width: 1px;
  border-color: #0C0E17;
}
menu separator {
  background-color: #0C0E17;
}
menu menuitem {
  background-color: rgba(0, 0, 0, 0);
  padding: 4px;
  margin: 2px;
}
menu menuitem:hover {
  background-color: #23252E;
}

/*=========================================*/
/*================- BAR -==================*/
/*=========================================*/
.bar {
  background-color: rgba(12, 14, 23, 0.99);
  border-radius: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #0C0E17;
}
.bar > box {
  min-height: 28px;
  padding: 3px;
}

.powermenu {
  transition: 120ms;
  background-color: rgba(132, 160, 198, 0.1);
  border-bottom: solid #84a0c6 1px;
  color: #84a0c6;
  padding: 0 12px 0 6px;
  font-size: 120%;
}
.powermenu:hover {
  border-bottom: solid #84a0c6 2px;
}
.powermenu:active {
  border-bottom: solid #84a0c6 0px;
}

.notification {
  background-color: #0C0E17;
  padding-right: 10px;
}
.notification label {
  color: #c6c8d1;
}
.notification image {
  background-color: #84a0c6;
  color: #0C0E17;
  margin: 0 10px 0 0;
  padding: 0 8px;
}

.tags {
  background-color: rgba(12, 14, 23, 0.3);
  color: rgba(155, 160, 181, 0.4);
  min-width: 28px;
  transition: 120ms;
}
.tags:hover {
  border-bottom: solid 2px #23252E;
}
.tags:active {
  border-bottom: solid 0px #23252E;
}

.tags-occupied {
  background-color: #161821;
  color: #9ba0b5;
  border-bottom: solid 1px #23252E;
  min-width: 28px;
  transition: 120ms;
}
.tags-occupied:hover {
  border-bottom: solid 2px #23252E;
}
.tags-occupied:active {
  border-bottom: solid 0px #23252E;
}

.tags-focused {
  background-color: rgba(226, 164, 120, 0.1);
  color: #e2a478;
  border-bottom: solid 1px #e2a478;
  transition: 120ms;
  min-width: 46px;
}
.tags-focused:hover {
  background-color: rgba(226, 164, 120, 0.1);
  color: #e2a478;
  border-bottom: solid 2px #e2a478;
}
.tags-focused:active {
  background-color: rgba(226, 164, 120, 0.1);
  color: #e2a478;
  border-bottom: solid 0px #e2a478;
}

.date {
  transition: 120ms;
  background-color: rgba(132, 160, 198, 0.1);
  border-bottom: solid #84a0c6 1px;
  color: #84a0c6;
  padding: 0 12px 0 8px;
}
.date:hover {
  border-bottom: solid #84a0c6 2px;
}
.date:active {
  border-bottom: solid #84a0c6 0px;
}

.clock {
  transition: 120ms;
  background-color: rgba(137, 184, 194, 0.1);
  border-bottom: solid #89b8c2 1px;
  color: #89b8c2;
  padding: 0 10px 0 8px;
}
.clock:hover {
  border-bottom: solid #89b8c2 2px;
}
.clock:active {
  border-bottom: solid #89b8c2 0px;
}

.audio-speaker {
  transition: 120ms;
  background-color: rgba(180, 190, 130, 0.1);
  border-bottom: solid #b4be82 1px;
  color: #b4be82;
}
.audio-speaker:hover {
  border-bottom: solid #b4be82 2px;
}
.audio-speaker:active {
  border-bottom: solid #b4be82 0px;
}
.audio-speaker image {
  color: #b4be82;
  padding: 0 10px;
}
.audio-speaker scale {
  min-width: 75px;
  margin-left: 10px;
}
.audio-speaker scale highlight {
  background-color: #b4be82;
  min-height: 10px;
}
.audio-speaker scale trough {
  background-color: rgba(180, 190, 130, 0.3);
}
.audio-microphone {
  transition: 120ms;
  background-color: rgba(226, 120, 120, 0.1);
  border-bottom: solid #e27878 1px;
  color: #e27878;
}
.audio-microphone:hover {
  border-bottom: solid #e27878 2px;
}
.audio-microphone:active {
  border-bottom: solid #e27878 0px;
}
.audio-microphone image {
  color: #e27878;
  padding: 0 10px;
}
.audio-microphone scale {
  min-width: 75px;
  margin-left: 10px;
}
.audio-microphone scale highlight {
  background-color: #e27878;
  min-height: 10px;
}
.audio-microphone scale trough {
  background-color: rgba(226, 120, 120, 0.3);
}

.battery {
  background-color: #0C0E17;
  padding: 0 8px;
}
.battery label {
  color: #9ba0b5;
}
.battery image {
  color: #9ba0b5;
  padding: 0 8px 0 2px;
}

/*# sourceMappingURL=style.css.map */
