/*=========================================*/
/*==============- VARIABLES -==============*/
/*=========================================*/
$blacker: #0F1419;
$black: #131721;
$darker: #272D38;
$dark: #3E4B59;
$white: #BFBDB6;
$whiter: #E6E1CF;
$light: #E6E1CF;
$lighter: #F3F4F5;
$red: #AC4142;
$yellow: #F4BF75;
$orange: #D28445;
$green: #90A959;
$cyan: #75B5AA;
$blue: #6A9FB5;
$magenta: #9080b7;


/*=========================================*/
/*===============- MIX INS -===============*/
/*=========================================*/

@mixin animate {
  transition: 125ms
}

@mixin btn($clr) {
  @include animate;
  color: $clr;
  background-color: rgba($clr, 0.1);
  border: solid 1px rgba($clr, 0.1);

  &:hover {
    background-color: rgba($clr, 0.15);
    border: solid 1px rgba($clr, 0.2);
  }

  &:active {
    background-color: rgba($clr, 0.4);
  }
}

/*=========================================*/
/*===========- GLOBAL SETTINGS -===========*/
/*=========================================*/

* {
  all: unset;
  font-family: Lexend;
  font-size: 100%;
  border-radius: 3px;
}

tooltip {
  background-color: rgba($black, 0.8);
  border: 1px solid $dark;
  color: $white;
}

menu {
  background-color: $black;
  border-style: solid;
  border-width: 1px;
  border-color: $black;

  separator {
    background-color: $black;
  }

  menuitem {
    background-color: rgba(0, 0, 0, 0);
    padding: 4px;
    margin: 2px;

    &:hover {
      background-color: $dark;
    }
  }
}



/*=========================================*/
/*================- BAR -==================*/
/*=========================================*/

.bar {
  background-color: rgba($black, 0.99);
  border-radius: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: $black;

  >box {
    min-height: 28px;
    padding: 3px;
  }
}

.powermenu {
  @include btn($green);
  padding: 0 12px 0 6px;
  font-size: 120%;
}

.notification {
  background-color: $black;
  padding-right: 10px;

  label {
    color: $whiter;
  }

  image {
    background-color: $blue;
    color: $black;
    margin: 0 10px 0 0;
    padding: 0 8px;
  }
}

.workspaces {
  @include animate;
  background-color: transparent;
  color: transparent;
  padding: 0px 5px;
  font-size: 95%;

  & button {
    @include animate;
    background-color: rgba($dark, 0.2);
    border: solid 1px rgba($dark, 0.3);
    margin: 4px 0px;
    padding: 0px 0px;
    min-width: 10px;

    &:hover {
      color: rgba($red, 1);
      padding: 0 4px;
    }
  }

  & button.occupied {
    @include animate;
    background-color: rgba($red, 0.3);
    border: solid 1px rgba($red, 0.4);
    min-width: 10px;

    &:hover {
      color: rgba($red, 1);
      padding: 0 4px;
    }
  }

  & button.focused {
    @include animate;
    background-color: rgba($red, 1);
    color: rgba($darker, 1);
    border: solid 1px rgba($red, 0.4);
    min-width: 20px;

    &:hover {
      background-color: rgba($red, 1);
      color: rgba($darker, 1);
      padding: 0 4px;
    }
  }
}

.date {
  @include btn($green);
  padding: 0 9px 0 6px;
}

.clock {
  @include btn($cyan);
  padding: 0 9px 0 6px;
}

.audio- {
  &speaker {
    @include btn($blue);

    label {
      color: $blue;
      font-size: 140%;
      padding: 0 9px;
    }

    scale {
      min-height: 16px;

      highlight {
        background-color: $blue;
        min-width: 2px;
      }

      trough {
        background-color: rgba($blue, 0.3);
      }
    }
  }

  &microphone {
    @include btn($blue);

    label {
      color: $blue;
      font-size: 130%;
      margin: 0 2px 0 0;
      padding: 0 9px;
    }

    scale {
      min-height: 16px;

      highlight {
        background-color: $blue;
        min-width: 2px;
      }

      trough {
        background-color: rgba($blue, 0.3);
      }
    }
  }
}

.battery {
  @include btn($orange);
  padding: 0 0 0 10px;

  label {
    color: $orange;
  }

  image {
    color: $orange;
    padding: 0 8px 0 2px;
  }
}
