/*=========================================*/
/*==============- VARIABLES -==============*/
/*=========================================*/
/*               - ICEBERG -               */
/*       Github: cocopon/iceberg.vim       */

$blacker: #161821;
$black: #292d3d;
$darker: #484b5b;
$dark: #6b7089;
$red: #e27878;
$red1: #e98989;
$green: #b4be82;
$green1: #c0ca8e;
$yellow: #e2a478;
$yellow1: #e9b189;
$blue: #84a0c6;
$blue1: #91acd1;
$magenta: #a093c7;
$magenta1: #ada0d3;
$cyan: #89b8c2;
$cyan1: #95c4ce;
$white: #9ba0b5;
$whiter: #c6c8d1;
$light: #d2d4de;
$lighter: #e3e4e8;


/*=========================================*/
/*===============- MIX INS -===============*/
/*=========================================*/

@mixin tag-width {
  min-width: 28px;
}

@mixin animate {
  transition: 120ms
}

@mixin stylish-btn($clr){
  @include animate;
  background-color: rgba($clr, 0.2);
  border-bottom: solid $clr 1px;
  color: $clr;
  &:hover {
    border-bottom: solid $clr 2px;
  }
  &:active {
    border-bottom: solid $clr 0px;
  }
}


/*=========================================*/
/*===========- GLOBAL SETTINGS -===========*/
/*=========================================*/

* {
	all: unset;
	//font-family: JetBrainsMono;
	font-family: Lexend;
	font-size: 100%;
	border-radius: 3px;
}

tooltip {
  background-color: rgba($black, 0.9);
  color: $white;
}

menu {
	background-color: $blacker;
	border-style: solid;
	border-width: 1px;
	border-color: $black;

	separator {
		background-color: $black;
	}

	menuitem {
		background-color: rgba(0, 0, 0, 0);
		padding: 4px;
		margin: 2px;

		&:hover {
			background-color: $darker;
		}
	}
}



/*=========================================*/
/*================- BAR -==================*/
/*=========================================*/

.bar {
	background-color: rgba($blacker, 0.99);
	border-radius: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: $black;
	>box {
		min-height: 28px;
		padding: 3px;
	}
}

.powermenu {
  @include stylish-btn($blue);
  padding: 0 12px 0 6px;
  font-size: 120%;
}

.notification {
  background-color: $black;
  padding-right: 10px;
  label {
    color: $whiter;
  }
	image {
    background-color: $blue;
		color: $black;
		margin: 0 10px 0 0;
    padding: 0 8px;
  }
}

.tags {
	background-color: rgba($black, 0.3);
	color: rgba($white, 0.4);
  @include tag-width;
  @include animate;
	&:hover {
    border-bottom: solid 2px $darker;
	}
	&:active {
    border-bottom: solid 0px $darker;
	}
}

.tags-occupied {
  background-color: $black;
  color: $white;
  border-bottom: solid 1px $dark;
  @include tag-width;
  @include animate;
  &:hover {
    border-bottom: solid 2px $dark;
	}
	&:active {
    border-bottom: solid 0px $dark;
	}
}

.tags-focused {
  background-color: rgba($green, 0.2);
  color: $green;
  border-bottom: solid 1px $green;
  @include animate;
  min-width: 46px;
  &:hover {
    background-color: rgba($green, 0.2);
    color: $green;
    border-bottom: solid 2px $green;
  }
  &:active {
    background-color: rgba($green, 0.2);
    color: $green;
    border-bottom: solid 0px $green;
  }
}

.date {
  @include stylish-btn($blue);
	padding: 0 12px 0 8px;
}

.clock {
  @include stylish-btn($cyan);
	padding: 0 10px 0 8px;
}

.audio- {
  &speaker {
    @include stylish-btn($green);
  	image {
  		color: $green;
  		padding: 0 10px;
  	}
  	scale {
  		min-width: 75px;
      margin-left: 10px;
      highlight {
  		  background-color: $green;
  		  min-height: 10px;
  	  }
      trough {
  		  background-color: rgba($green, 0.3);
  	  }
  	}
  }
  &microphone {
    @include stylish-btn($red);
  	image {
  		color: $red;
  		padding: 0 10px;
  	}
  	scale {
  		min-width: 75px;
      margin-left: 10px;
      highlight {
  		  background-color: $red;
  		  min-height: 10px;
  	  }
      trough {
  		  background-color: rgba($red, 0.3);
  	  }
  	}
  }
}

.battery {
	background-color: $black;
	padding: 0 8px;
  label {
    color: $white;
  }
	image {
		color: $white;
		padding: 0 8px 0 2px;
	}
}
